@charset "UTF-8";
/*------------------------------------------------------
    全ページ共通SCSS
------------------------------------------------------*/
/*------------------------------------------------------
    reset
------------------------------------------------------*/
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.5px;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}

a {
    text-decoration: none;
    transition: 0.4s;
}
a:hover {
    text-decoration: none;
}

a:hover img {
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s;
}

select,
textarea,
input {
    box-sizing: border-box;
    line-height: 1.5;
}

/*------------------------------------------------------
    Breakpoint　値はサイトに合わせて変更しましょう
------------------------------------------------------*/
/*------------------------------------------------------
    このファイルは基本触らない
------------------------------------------------------*/
/*------------------------------------------------------
    color format (カラー設定)
------------------------------------------------------*/
/*------------------------------------------------------
    color format (カラー設定)
------------------------------------------------------*/
body {
    background: #f3f7ff;
    color: #1b2131;
    font-family: "Noto Sans", sans-serif;
}

.l-container {
    max-width: 1200px;
    margin: 0 auto;
}

/*------------------------------------------------------
    header
------------------------------------------------------*/
.l-header__top {
    background: #fff;
    padding: 8px 40px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 6px rgba(0, 81, 163, 0.1019607843);
}
.l-header__top h1 {
    padding: 6px 0;
}
.l-header__top h1 a {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
    font-family: Roboto;
}
.l-header__top__info {
    display: flex;
    align-items: center;
    gap: 24px;
}
.l-header__top__info p {
    font-size: 1.6rem;
    color: #0050c0;
    font-weight: 700;
    font-family: Roboto;
}
.l-header__top__info .hamburger {
    display: flex;
    flex-direction: column;
    gap: 9px;
    cursor: pointer;
}
.l-header__top__info .hamburger span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 5px;
    background: #0050c0;
}
.l-header__top__info .hamburger-menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: -412px;
    width: 412px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 10px 40px 20px;
}
.l-header__top__info .hamburger-menu__close {
    width: 40px;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px auto;
}
.l-header__top__info .hamburger-menu__close span {
    display: block;
    position: absolute;
    width: 28px;
    height: 2.5px;
    border-radius: 5px;
    background: #1b2131;
    transform: rotate(-45deg);
}
.l-header__top__info .hamburger-menu__close span:nth-child(1) {
    transform: rotate(45deg);
}
.l-header__top__info .hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.l-header__top__info .hamburger-menu ul li {
}
.l-header__top__info .hamburger-menu ul li .hamburger__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #1b2131;
    border-bottom: 1px solid #8e9199;
    font-size: 16px;
    padding: 16px 15px;
    text-align: left;
}
.l-header__top__info .hamburger-menu ul li .hamburger__logout {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    background: transparent;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    font-size: 2rem;
    margin: 40px auto 15px;
}
.l-header__top__info .hamburger-menu.active {
    right: 0;
}
.l-header__top__info .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}
.l-header__top__info .overlay.active {
    opacity: 1;
    visibility: visible;
}
.l-header__top__info .hamburger-menu ul li .hamburger__link.menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: 0;
    border-bottom: 1px solid #8e9199;
    cursor: pointer;
    width: 100%;
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle
    .toggle-icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle
    .toggle-icon::before,
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle
    .toggle-icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 2px;
    background: currentColor;
    border-radius: 1px;
    transition: transform 0.25s ease;
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle
    .toggle-icon::before {
    transform: translate(-50%, -50%);
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle
    .toggle-icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .hamburger__link.menu-toggle[aria-expanded="true"]
    .toggle-icon::after {
    transform: translate(-50%, -50%) rotate(180deg);
}
.l-header__top__info .hamburger-menu ul li .submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 250ms ease;
    border-top: 1px solid #e6e7ea;
    box-sizing: initial;
}
.l-header__top__info .hamburger-menu ul li .submenu .hamburger__sublink {
    display: block;
    padding: 15px 12px 15px 32px;
    font-size: 1.6rem;
    color: #1b2131;
    border-bottom: 1px solid #f4f4f5;
}
.l-header__top__info
    .hamburger-menu
    ul
    li
    .submenu
    li:last-of-type
    .hamburger__sublink {
    border-bottom: 1px solid #8e9199;
}

.l-header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 60px;
    margin: 0 0 80px 0;
    border: 1px solid #e5e5e5;
}
.l-header__bottom__ttl {
    font-size: 2.4rem;
    font-weight: bold;
    color: #1b2131;
}
.l-header__bottom__link {
    display: flex;
    align-items: center;
    gap: 8px;
}
.l-header__bottom__link a,
.l-header__bottom__link button {
    display: flex;
    gap: 8px;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #0050c0;
    margin: 6px 16px 6px 12px;
    background: transparent;
    border: none;
}
.l-header__bottom__link a:hover,
.l-header__bottom__link button:hover {
    text-decoration: underline;
    font-weight: bold;
}
.l-header__bottom__link .disabled-btn {
    opacity: 0.32;
    pointer-events: none;
}
.l-header__bottom__wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}
.l-header__back .prev {
    display: flex;
    font-size: 1.8rem;
    color: #0050c0;
    font-weight: 700;
    gap: 9px;
}
.l-header__tb__top {
    background: #fff;
    padding: 6px 16px;
    box-shadow: 0 1px 6px rgba(0, 81, 163, 0.1019607843);
}
.l-header__tb__top h1 a {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    font-family: Roboto;
}
.l-header__tb__top .l-container {
    display: flex;
    justify-content: space-between;
}
.l-header__tb__middle {
    background: #eaf0ff;
    padding: 10px 20px;
}
.l-header__tb__middle .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l-header__tb__middle nav ul {
    display: flex;
    justify-content: left;
    gap: 24px;
    align-items: center;
}
.l-header__tb__middle nav ul li a {
    font-size: 1.6rem;
    color: #0050c0;
    font-weight: 700;
}
.l-header__tb__middle .humburger {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.l-header__tb__middle .humburger span {
    display: inline-block;
    height: 2px;
    width: 25px;
    background: #1b2131;
}
.l-header__tb__bottom {
    padding: 8px 24px;
    border-bottom: 1px solid #e5e5e5;
}
.l-header__tb__bottom .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l-header__tb__bottom .l-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #1b2131;
}
.l-header__tb__bottom .l-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    gap: 40px;
    text-align: center;
    padding: 6px 18px;
}
.l-header__tb__bottom .l-container a__white {
    width: 200px;
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: bold;
    background: transparent;
    color: #0050c0;
    border: 1px solid #0050c0;
    border-radius: 100px;
    padding: 16px 0px;
}
.l-header__tb__bottom .l-container a__blue {
    width: 200px;
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: bold;
    color: white;
    background: #0050c0;
    border: none;
    border-radius: 100px;
    padding: 16px 0px;
}
.l-header__tb__bottom .l-container a .disabled-btn {
    opacity: 0.32;
    pointer-events: none;
}
.l-header__tb__bottom .l-container a.prev {
    margin: 0;
    padding: 0;
    gap: 9px;
}
.l-header__tb .l-header__bottom {
    padding: 7px 40px;
    margin: 0 0 40px 0;
}
.l-header__tb .l-header__bottom__link a {
    border-bottom: 1px solid #0050c0;
    margin: 0;
    font-weight: bold;
}
.l-header__tb .l-header__back {
    width: unset;
}

/*------------------------------------------------------
    footer
------------------------------------------------------*/

/*------------------------------------------------------
    ここから下は独自実装
------------------------------------------------------*/
/*
 * Bootstrapのドロップダウンに必要な最小限のスタイル
*/
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* BootstrapのJSがこのクラスを付け外しして表示を切り替える */
.open > .dropdown-menu {
    display: block;
}

/*
 * 複数選択ドロップダウンのボタンを、
 * 他の<select>ボックスと同じ見た目にするためのカスタムCSS
*/
.field .control .dropdown .custom-dropdown {
    /* <select>と同じ見た目を再現 */
    width: 100%;
    height: 44px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background: #fff;

    /* ボタン内のテキストと矢印アイコンを両端に配置 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

/* 補足：開いたときのメニューもボタンと同じ幅にする */
.field .control .dropdown .dropdown-menu {
    width: 100%;
}

/* Bootstrapのモーダル機能に必要な最小限のスタイル */

/* モーダル表示時に背景をスクロールさせない */
.modal-open {
    overflow: hidden;
}

/* モーダル本体のコンテナ */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none; /* 初期状態では非表示 */
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

/* モーダルのダイアログボックス */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

/* モーダルのコンテンツ部分 */
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0;
}

/* 背景の黒いオーバーレイ */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.in {
    opacity: 0.5;
}

/* モーダルのヘッダー、ボディ、フッター */
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

/* 閉じるボタン（×） */
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    border: 0;
    background: transparent;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

/* PCサイズでの調整 */
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
