/* 全要素のリセット */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* hidden属性を持つ要素を非表示に */
[hidden] {
	display: none !important;
}

/* text-size-adjust の代替設定 */
html {
	-webkit-text-size-adjust: none; /* モバイルブラウザ対応 */
	-ms-text-size-adjust: none;     /* 古いIE対応 */
	text-size-adjust: none;         /* 標準対応 */
	color-scheme: light dark;       /* カラースキームを指定 */
}

/* 古いブラウザ用のフォールバック */
html {
	height: 100%; /* 100dvbが使えないブラウザ向けの設定 */
}

/* スムーズスクロールの設定 */
html:focus-within {
	scroll-behavior: smooth;
}

/* body の標準スタイル設定 */
body {
	height: 100%; /* 100dvb が使えないブラウザ向けに設定 */
	line-height: 1.5;
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* フォーム要素の継承設定 */
input, button, textarea, select {
	font: inherit;
	color: inherit;
}

/* textarea のリサイズ設定 */
textarea {
	resize: vertical; /* 縦方向のリサイズを許可 */
}

/* クリック可能な要素のスタイル */
button, label, select, summary, [role='button'], [role='option'] {
	cursor: pointer;
}

/* 無効化された要素のスタイル */
:disabled {
	cursor: not-allowed;
}

/* 無効化された input を含むラベルのスタイル */
label:has(> input:disabled),
label:has(+ input:disabled) {
	cursor: not-allowed;
}

/* リストスタイルのリセット */
ul, ol {
	list-style-type: none; /* リストスタイルを無効化 */
	padding-left: 0;
	margin-left: 0;
}

/* リストアイテムのスタイルリセット */
ul li, ol li {
	list-style-type: none;
}

/* 擬似要素の無効化 */
ul li::before, ol li::before {
	content: none;
	display: none; /* 擬似要素を非表示に設定 */
}

/* メディア要素のスタイル設定 */
img, svg, video, canvas, audio, iframe, embed, object {
	display: block;
}

img, picture, svg {
	max-width: 100%;
	height: auto;
}

/* テキスト要素のスタイル設定 */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

h1, h2, h3 {
	line-height: calc(1em + 0.5rem);
}

/* 水平線のスタイル設定 */
hr {
	border: none;
	border-top: 1px solid;
	color: inherit;
	height: 0;
	overflow: visible;
}

/* フォーカス可視性のスタイル設定 */
:focus-visible {
	outline: 2px solid var(--focus-color, Highlight);
	outline-offset: 2px;
}

/* 視覚的に隠された要素のスタイル設定 */
.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden) {
	clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	border: 0 !important;
}
