@charset "UTF-8";
/* google fonts */
/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v138/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2) format('woff2');
}



html {
  font-size: 62.5%;
}

body {
  background: #FFF;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
}

a {
  color: #000;
  text-decoration: none;
}

.btnType1 {
  appearance: none;
  width: 100%;
  max-width: 140px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background: #0060B0;
  color: #FFF;
}

.btnType2 {
  appearance: none;
  width: 100%;
  max-width: 140px;
  height: 48px;
  border: 1px solid #0060B0;
  border-radius: 4px;
  background: #FFF;
  color: #0060B0;
}

input, select {
  background: #FFF;
}

.header {
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.16);
}
.header__inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding: 7px 32px;
  background: #FFF;
}
.header__name {
  appearance: none;
  max-width: 39.8%;
  padding-left: 40px;
  border-top: none;
  border-left: 1px solid rgba(60, 60, 67, 0.36);
  border-right: none;
  border-bottom: none;
  background: url(../img/icon_sort.svg) center left 16px no-repeat;
  font-size: 2.1rem;
}

.content {
  padding: 71px 0 100px;
  width: 100%;
}
.content__inner {
  position: relative;
}

.search {
  width: 100%;
  margin-bottom: 62px;
}
.search__inner {
  width: 100%;
  padding: 0 32px;
}
.search__flexBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search__flexBox__name, .search__flexBox__limit {
  width: 100%;
}
.search__flexBox__name {
  flex-grow: 1;
  margin-right: 16px;
}
.search__flexBox__name input[type=text] {
  margin-bottom: 5px;
  padding: 0 16px;
  background: none;
  line-height: 4.6rem; /* border2px分引く */
}
.search__flexBox__name input[type=text]:placeholder-shown {
  padding: 0 16px 0 56px;
  background: url(../img/icon_search_gray.svg) center left 16px no-repeat;
}
.search__flexBox__name input[type=text]:placeholder {
  padding-left: 56px;
}
.search__flexBox__name > p {
  margin-top: 16px;
}
.search__flexBox__name > p > a{
  margin-left: 16px;
  color: #337ab7;;
}
.search__flexBox__name .keyword_button {
  cursor: pointer;
}
.search__flexBox__limit {
  max-width: 24.7%;
  height: 48px;
  margin-right: 16px;
  padding-left: 16px;
}
.search__flexBox input[type=text], .search__flexBox select {
  display: block;
  width: 100%;
  border: 1px solid rgba(60, 60, 67, 0.36);
  border-radius: 4px;
  flex-grow: 1;
}
.search__flexBox select {
  appearance: none;
  background: url(../img/icon_sort.svg) center right 8px no-repeat;
}
.search label {
  display: inline-block;
  position: relative;
  margin-right: 32px;
  padding: 0 0 22px 28px;
}
.search input[type=radio] {
  position: absolute;
  opacity: 0;
}
.search label:before, .search label:after {
  display: block;
  content: "";
  position: absolute;
}
.search label:before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 96, 176, 0.5);
  border-radius: 50%;
  background: #FFF;
}
.search label:after {
  opacity: 0;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0060B0;
}
.search input[type=radio]:checked + label:after {
  opacity: 1;
}

.result {
  width: 100%;
  margin-bottom: 16px;
  padding: 0 32px;
}
.result__flexBox {
  display: flex;
  justify-content: space-between;
}
.result__flexBox p {
  width: 100%;
}
.result__pager {
  display: flex;
  width: 100%;
  max-width: 352px;
  justify-content: space-between;
}
.result__pager__prev {
  background: url(../img/icon_arrow_left.svg) center no-repeat;
}
.result__pager__first {
  background: url(../img/icon_prev.png) center no-repeat;
  background-size: 25px;
}
.result__pager__next {
  background: url(../img/icon_arrow_right.svg) center no-repeat;
}
.result__pager__last{
  background: url(../img/icon_next.png) center no-repeat;
  background-size: 25px;
}
.result__pager li {
  margin-right: 8px;
}
.result__pager li:last-of-type {
  margin-right: 0;
}
.result__pager li a {
  display: block;
  height: 32px;
  border: 1px solid #0060B0;
  line-height: 32px;
  color: #0060B0;
}
.result__pager li a {
  width: 32px;
  border-radius: 4px;
  text-align: center;
}
.result__pager li a.isCurrent {
  background: #0060B0;
  color: #FFF;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
}
.top__link {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px;
  border: 2px solid #0060B0;
  border-radius: 8px;
}
.top__link__notice {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0 13px 0 8px;
  border-radius: 11px;
  background: #FF0000;
  color: #FFF;
  line-height: 22px;
}
.top__link__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top__link__box img {
  margin-right: 16px;
}
.top__link__txt {
  font-size: 3.2rem;
  font-weight: bold;
}
.top__link__txt span {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
}
.top__link:first-of-type {
  margin-right: 24px;
}

.list__inner {
  width: 100%;
}
.list__item, .list__headItem {
  display: flex;
  align-items: center;
  width: 100%;
}
.list__headItem {
  padding: 12px 0 12px 32px;
  background: #D4DDF0;
  text-align: center;
}
.list__headItem .list__img {
  min-height: 24px;
}
.list__headItem div {
  border-right: 1px solid rgba(60, 60, 67, 0.36);
}
.list__headItem div:last-of-type {
  border-right: none;
}
.list__item {
  padding: 12px 0 12px 32px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.36);
  background: #FFF;
  transition: 0.3s;
}
.list__item > .list__no {
  text-align: right;
}
.list__item:hover {
  background: #EEE;
}
.list__no, .list__img, .list__category, .list__title, .list__limit {
  width: 100%;
  padding: 0 16px;
  flex-grow: 1;
}
.list__no {
  max-width: 9%;
}
.list__img {
  max-width: 20%;
}
.list__img img {
  max-width: 100%;
}
.list__category {
  max-width: 16.6%;
}
.list__category.btnSort {
  background: url(../img/icon_sort.svg) center right 16px no-repeat;
}
.list__img + .list__category {
  max-width: 18.6%;
}
.list__limit {
  max-width: 21.4%;
}
.list .tags li {
  display: inline-block;
  margin-right: 4px;
  padding: 0 14px 0 6px;
  border-radius: 4px;
  background: rgba(118, 118, 128, 0.12);
  font-size: 1.4rem;
}
.list .title li {
  display: inline-block;
  margin-right: 4px;
}
.list__link__notice {
  padding: 0 13px 0 8px;
  border-radius: 11px;
  background: #FF0000;
  color: #FFF;
  line-height: 22px;
}

.sortMenu {
  z-index: 10000;
  display: none;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: calc(100% - 48px);
  padding-bottom: 52px;
  background: #FFF;
  /* /box */
}
.sortMenu__inner {
  padding: 32px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.sortMenu__title {
  margin-bottom: 32px;
  padding-left: 32px;
  background: url(../img/icon_search_black.svg) center left no-repeat;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.8rem;
}
.sortMenu__box {
  margin-bottom: 48px;
}
.sortMenu__box__head {
  position: relative;
  margin-bottom: 24px;
}
.sortMenu__box__head input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.sortMenu__box__head input[type=checkbox] + label {
  position: relative;
  padding-left: 32px;
}
.sortMenu__box__head input[type=checkbox] + label:before, .sortMenu__box__head input[type=checkbox] + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.sortMenu__box__head input[type=checkbox] + label:before {
  border: 2px solid rgba(0, 96, 176, 0.5);
}
.sortMenu__box__head input[type=checkbox] + label:after {
  opacity: 0;
  background: #0060B0 url(../img/icon_checked.svg) center no-repeat;
}
.sortMenu__box__head input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.sortMenu__box__head input[type=checkbox].isSelectAll + label:after {
  background: #0060B0 url(../img/icon_checked2.svg) center no-repeat;
}
.sortMenu__list {
  display: flex;
  justify-content: space-between;
}
.sortMenu__list__item {
  position: relative;
  width: 100%;
  max-width: calc(33% - 12px);
  margin-right: 24px;
}
.sortMenu__list__item:nth-last-child(3n+1) {
  margin-right: 0;
}
.sortMenu__list__item input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.sortMenu__list__item label {
  display: block;
  padding: 14px 0;
  border: 1px solid #0060B0;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}
.sortMenu__list__item input[type=checkbox]:checked + label {
  background: #ADDAFF;
}
.sortMenu__link_notice {
  position: absolute;
  top: 5%;
  right: 3%;
  padding: 0 13px 0 8px;
  border-radius: 11px;
  background: #FF0000;
  color: #FFF;
  line-height: 110%;
  font-size: 100%;
}
.sortMenu__btnInner {
  display: flex;
  justify-content: space-between;
}
.sortMenu.isActive {
  display: block;
}

.footer {
  z-index: 10001;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.16);
}
.footer__inner {
  padding: 14px 32px;
  background: #FFF;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__list__item {
  width: 100%;
  text-align: center;
}
.footer__list__item a {
  padding-left: 32px;
  background: url(../img/icon_arrow_left.svg) center left no-repeat;
  color: #0060B0;
}
.footer__list__item:first-of-type {
  text-align: left;
}
.footer__list__item:last-of-type {
  text-align: right;
}
.footer__list .btnReturn {
  display: none;
}

@media screen and (max-width: 768px) {
  .list {
    overflow-x: scroll;
  }
  .list__inner {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .header__name {
    max-width: none;
    font-size: 1.2rem;
  }
  .top {
    display: block;
  }
  .top__link {
    margin-bottom: 16px;
  }
  .search__flexBox {
    display: block;
  }
  .search__flexBox__name, .search__flexBox__limit {
    margin-right: 0;
  }
  .search__flexBox__name {
    margin-bottom: 8px;
  }
  .search__flexBox__name > p {
    margin-top: 16px;
  }
  .search__flexBox__name > p > a{
    margin-left: 16px;
  }
  .search__flexBox input[type=text], .search__flexBox select {
    display: inline-block;
    max-width: none;
    margin-bottom: 8px;
  }
  .search__flexBox .btnType1 {
    width: 100%;
    max-width: 100%;
  }
  .result__flexBox {
    display: block;
  }
  .result__flexBox p {
    margin-bottom: 8px;
  }
  .sortMenu__inner {
    padding: 16px;
  }
  .sortMenu__list__item {
    margin-right: 16px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .search__inner {
    padding: 0 16px;
  }
  .result {
    padding: 0 16px;
  }
  .result__pager__prev, .result__pager__next {
    width: 60px;
  }
  .result__pager__prev {
    background-position: center left 4px;
  }
  .result__pager__next {
    background-position: center right 4px;
  }
  .result__pager li {
    margin-right: 4px;
  }
  .result__pager li a:not(.result__pager__prev):not(.result__pager__next) {
    width: 20px;
  }
  .footer__inner {
    padding: 14px 16px;
  }
  .footer__list__item {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */