@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", Helvetica Neue, Segoe UI, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif;
  background: #F3F3F3;
  color: #5E5E5E;
}

* {
  box-sizing: border-box;
}

a {
  color: #5E5E5E;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

*.w10 {
  width: 10%;
}

*.w20 {
  width: 20%;
}

*.w30 {
  width: 30%;
}

*.w40 {
  width: 40%;
}

*.w50 {
  width: 50%;
}

*.w60 {
  width: 60%;
}

*.w70 {
  width: 70%;
}

*.w80 {
  width: 80%;
}

*.w90 {
  width: 90%;
}

*.mr0 {
  margin-right: 0px;
}

*.mr2 {
  margin-right: 2px;
}

*.mr4 {
  margin-right: 4px;
}

*.mr6 {
  margin-right: 6px;
}

*.mr8 {
  margin-right: 8px;
}

*.mr10 {
  margin-right: 10px;
}

*.mr12 {
  margin-right: 12px;
}

*.mr14 {
  margin-right: 14px;
}

*.mr16 {
  margin-right: 16px;
}

*.mr18 {
  margin-right: 18px;
}

*.mr20 {
  margin-right: 20px;
}

*.mr22 {
  margin-right: 22px;
}

*.mr24 {
  margin-right: 24px;
}

*.mr26 {
  margin-right: 26px;
}

*.mr28 {
  margin-right: 28px;
}

*.mr30 {
  margin-right: 30px;
}

*.mr32 {
  margin-right: 32px;
}

*.mr34 {
  margin-right: 34px;
}

*.mr36 {
  margin-right: 36px;
}

*.mr38 {
  margin-right: 38px;
}

*.mr40 {
  margin-right: 40px;
}

*.mr42 {
  margin-right: 42px;
}

*.mr44 {
  margin-right: 44px;
}

*.mr46 {
  margin-right: 46px;
}

*.mr48 {
  margin-right: 48px;
}

*.mr50 {
  margin-right: 50px;
}

*.mr52 {
  margin-right: 52px;
}

*.mr54 {
  margin-right: 54px;
}

*.mr56 {
  margin-right: 56px;
}

*.mr58 {
  margin-right: 58px;
}

*.mr60 {
  margin-right: 60px;
}

*.mr62 {
  margin-right: 62px;
}

*.mr64 {
  margin-right: 64px;
}

*.mr66 {
  margin-right: 66px;
}

*.mr68 {
  margin-right: 68px;
}

*.mr70 {
  margin-right: 70px;
}

*.mr72 {
  margin-right: 72px;
}

*.mr74 {
  margin-right: 74px;
}

*.mr76 {
  margin-right: 76px;
}

*.mr78 {
  margin-right: 78px;
}

*.mr80 {
  margin-right: 80px;
}

*.mr82 {
  margin-right: 82px;
}

*.mr84 {
  margin-right: 84px;
}

*.mr86 {
  margin-right: 86px;
}

*.mr88 {
  margin-right: 88px;
}

*.mr90 {
  margin-right: 90px;
}

*.mr92 {
  margin-right: 92px;
}

*.mr94 {
  margin-right: 94px;
}

*.mr96 {
  margin-right: 96px;
}

*.mr98 {
  margin-right: 98px;
}

*.mr100 {
  margin-right: 100px;
}

*.mb0 {
  margin-bottom: 0px;
}

*.mb2 {
  margin-bottom: 2px;
}

*.mb4 {
  margin-bottom: 4px;
}

*.mb6 {
  margin-bottom: 6px;
}

*.mb8 {
  margin-bottom: 8px;
}

*.mb10 {
  margin-bottom: 10px;
}

*.mb12 {
  margin-bottom: 12px;
}

*.mb14 {
  margin-bottom: 14px;
}

*.mb16 {
  margin-bottom: 16px;
}

*.mb18 {
  margin-bottom: 18px;
}

*.mb20 {
  margin-bottom: 20px;
}

*.mb22 {
  margin-bottom: 22px;
}

*.mb24 {
  margin-bottom: 24px;
}

*.mb26 {
  margin-bottom: 26px;
}

*.mb28 {
  margin-bottom: 28px;
}

*.mb30 {
  margin-bottom: 30px;
}

*.mb32 {
  margin-bottom: 32px;
}

*.mb34 {
  margin-bottom: 34px;
}

*.mb36 {
  margin-bottom: 36px;
}

*.mb38 {
  margin-bottom: 38px;
}

*.mb40 {
  margin-bottom: 40px;
}

*.mb42 {
  margin-bottom: 42px;
}

*.mb44 {
  margin-bottom: 44px;
}

*.mb46 {
  margin-bottom: 46px;
}

*.mb48 {
  margin-bottom: 48px;
}

*.mb50 {
  margin-bottom: 50px;
}

*.mb52 {
  margin-bottom: 52px;
}

*.mb54 {
  margin-bottom: 54px;
}

*.mb56 {
  margin-bottom: 56px;
}

*.mb58 {
  margin-bottom: 58px;
}

*.mb60 {
  margin-bottom: 60px;
}

*.mb62 {
  margin-bottom: 62px;
}

*.mb64 {
  margin-bottom: 64px;
}

*.mb66 {
  margin-bottom: 66px;
}

*.mb68 {
  margin-bottom: 68px;
}

*.mb70 {
  margin-bottom: 70px;
}

*.mb72 {
  margin-bottom: 72px;
}

*.mb74 {
  margin-bottom: 74px;
}

*.mb76 {
  margin-bottom: 76px;
}

*.mb78 {
  margin-bottom: 78px;
}

*.mb80 {
  margin-bottom: 80px;
}

*.mb82 {
  margin-bottom: 82px;
}

*.mb84 {
  margin-bottom: 84px;
}

*.mb86 {
  margin-bottom: 86px;
}

*.mb88 {
  margin-bottom: 88px;
}

*.mb90 {
  margin-bottom: 90px;
}

*.mb92 {
  margin-bottom: 92px;
}

*.mb94 {
  margin-bottom: 94px;
}

*.mb96 {
  margin-bottom: 96px;
}

*.mb98 {
  margin-bottom: 98px;
}

*.mb100 {
  margin-bottom: 100px;
}

/* responsive */
@media screen and (max-width: 768px) {
  .spw10 {
    width: 10%;
  }
  .spw20 {
    width: 20%;
  }
  .spw30 {
    width: 30%;
  }
  .spw40 {
    width: 40%;
  }
  .spw50 {
    width: 50%;
  }
  .spw60 {
    width: 60%;
  }
  .spw70 {
    width: 70%;
  }
  .spw80 {
    width: 80%;
  }
  .spw90 {
    width: 90%;
  }
  .spw100 {
    width: 100%;
  }
  .spmr0 {
    margin-right: 0px;
  }
  .spmr5 {
    margin-right: 5px;
  }
  .spmr10 {
    margin-right: 10px;
  }
  .spmr15 {
    margin-right: 15px;
  }
  .spmr20 {
    margin-right: 20px;
  }
  .spmr25 {
    margin-right: 25px;
  }
  .spmr30 {
    margin-right: 30px;
  }
  .spmr35 {
    margin-right: 35px;
  }
  .spmr40 {
    margin-right: 40px;
  }
  .spmr45 {
    margin-right: 45px;
  }
  .spmr50 {
    margin-right: 50px;
  }
  .spmr55 {
    margin-right: 55px;
  }
  .spmr60 {
    margin-right: 60px;
  }
  .spmr65 {
    margin-right: 65px;
  }
  .spmr70 {
    margin-right: 70px;
  }
  .spmr75 {
    margin-right: 75px;
  }
  .spmr80 {
    margin-right: 80px;
  }
  .spmr85 {
    margin-right: 85px;
  }
  .spmr90 {
    margin-right: 90px;
  }
  .spmr95 {
    margin-right: 95px;
  }
  .spmr100 {
    margin-right: 100px;
  }
  .spmb0 {
    margin-bottom: 0px;
  }
  .spmb5 {
    margin-bottom: 5px;
  }
  .spmb10 {
    margin-bottom: 10px;
  }
  .spmb15 {
    margin-bottom: 15px;
  }
  .spmb20 {
    margin-bottom: 20px;
  }
  .spmb25 {
    margin-bottom: 25px;
  }
  .spmb30 {
    margin-bottom: 30px;
  }
  .spmb35 {
    margin-bottom: 35px;
  }
  .spmb40 {
    margin-bottom: 40px;
  }
  .spmb45 {
    margin-bottom: 45px;
  }
  .spmb50 {
    margin-bottom: 50px;
  }
  .spmb55 {
    margin-bottom: 55px;
  }
  .spmb60 {
    margin-bottom: 60px;
  }
  .spmb65 {
    margin-bottom: 65px;
  }
  .spmb70 {
    margin-bottom: 70px;
  }
  .spmb75 {
    margin-bottom: 75px;
  }
  .spmb80 {
    margin-bottom: 80px;
  }
  .spmb85 {
    margin-bottom: 85px;
  }
  .spmb90 {
    margin-bottom: 90px;
  }
  .spmb95 {
    margin-bottom: 95px;
  }
  .spmb100 {
    margin-bottom: 100px;
  }
}
.flex {
  display: flex;
}

.spBlock {
  display: none;
}

.txtCenter {
  text-align: center;
}

.txtInline {
  display: inline-block;
}

.txtBold {
  font-weight: bold;
}

.txtBlue {
  color: #0051A4;
}

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  max-height: 50px;
  background: #FFF;
}
.header__inner {
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px 0;
}
.header__logo img {
  max-width: 56px;
}
.header--detail {
  height: 68px;
  max-height: 68px;
  border-bottom: 1px solid #D5D5D5;
}

/* 詳細画面 */
.header--detail.header .header__inner {
  padding: 0;
}
.header--detail.header .header__prev {
  display: block;
  width: 100%;
  max-width: 101px;
  height: 68px;
  background: #0051A4;
  color: #FFF;
  line-height: 68px;
  transition: 0.3s;
}
.header--detail.header .header__prev:hover {
  background: rgba(0, 81, 134, 0.6);
}
.header--detail.header .header__prev img, .header--detail.header .header__prev p {
  display: inline-block;
}
.header--detail.header .header__prev img {
  max-height: 23px;
  vertical-align: text-bottom;
}
.header--detail.header .header__prev p {
  font-size: 1.8rem;
}
.header--detail.header .header__menu {
  gap: 28px;
  padding-right: 27px;
}
.header--detail.header .header__menu button {
  appearance: none;
  border: none;
  background: none;
}
.header--detail.header .header__titleBox {
  width: 100%;
  gap: 35px;
}
.header--detail.header .header__title {
  padding-top: 10px;
}
.header--detail.header .header__title h1 {
  font-size: 2.4rem;
}

.menu {
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background: #0051A4;
}
.menu__list {
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}
.menu__list__item {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  line-height: 5rem;
}
.menu__list__item a {
  color: #FFF;
  transition: 0.3s;
}
.menu__list__item a:hover {
  opacity: 0.6;
}
.menu__list__item.isCurrent:after {
  z-index: 2;
  display: block;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 9px;
  border-radius: 6px;
  background: #FAAE2C;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 18px;
  background: #FFF;
}
.footer a, .footer img {
  display: block;
  max-width: 56px;
  margin: 0 auto;
}

.main {
  min-height: 100%;
  padding-top: 138px;
  padding-bottom: 88px;
}
.main__inner {
  width: calc(100% - 28px);
  max-width: 1280px;
  min-height: calc(100% - 50px);
  margin: 0 auto;
}
.main h2 {
  padding-left: 21px;
}
.main__supplement {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 38px;
  padding: 20px;
  font-size: 1.8rem;
  line-height: 2.9rem;
  background: #FFF;
}
.main__supplement__detail {
  gap: 17px;
  width: 100%;
}
.main__supplement p {
  max-width: 1280px;
  margin: 0 auto;
}
.main__supplement.flex p {
  margin: 0;
}
.main__supplement__btnInner {
  width: 100%;
  max-width: 80px;
  text-align: center;
}
.main__supplement__btnInner p {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.main__supplement__btnInner .txtBlue {
  font-size: 1.6rem;
}
.main__supplement .btnWatched {
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
  background: #FFF url(../img/icon_like_gray.svg) center no-repeat;
}
.main__supplement .btnWatched.isActive {
  background: #FFF url(../img/icon_like.svg) center no-repeat;
}
.main__supplement + .main__box {
  padding: 30px 21px 24px;
}
.main__fileView {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main__fileView iframe {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  min-height: 80vsh;
}
.main__box {
  padding: 10px 21px;
  background: #FFF;
}
.main__box .flex {
  gap: 17px;
}
.main__box h2 {
  padding-left: 0;
}
.main__box:last-of-type {
  padding: 10px 21px 20px;
}
.main__thumb {
  position: relative;
  width: 100%;
  max-width: 160px;
  cursor: pointer;
}
.main__thumb img {
  width: 100%;
}
.main__thumb__icon {
  appearance: none;
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: #FFF url(../img/icon_zoom.svg) center no-repeat;
}
.main__thumb__icon.play {
  background: #FFF url(../img/icon_play.svg) center no-repeat;
}
.main__thumb + p {
  width: 100%;
  font-size: 1.8rem;
}
.main__box--single {
  /* 全編通し動画（説目部分）のみ */
}
.main__box--single .main__thumb {
  max-width: 220px;
}

/* 一覧画面のみ */
.menu + .main {
  padding-top: 138px;
}

/* 業務連絡詳細画面のみ */
.header--detail + .main.message {
  padding-top: 68px;
}

/* マニュアル詳細画面のみ */
.header--detail + .main.manual {
  padding-top: 96px;
}

/* 拡大 */
.manualAttachmentBg, .manualAttachment {
  display: none;
}
.manualAttachmentBg.isActive, .manualAttachment.isActive {
  display: block;
}

.manualAttachmentBg {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.manualAttachment {
  z-index: 1002;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 768px;
  max-height: calc(80vh - 50px);
}
.manualAttachment__inner {
  position: relative;
}
.manualAttachment__close {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background: #FFF url(../img/icon_close.svg) center no-repeat;
  background-size: 20px;
}
.manualAttachment video {
  max-width: 100%;
}

.manualAttachmentSingle img, .manualAttachmentSingle video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.sliderMenu__inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 6px;
  overflow-x: scroll;
}
.sliderMenu__inner::-webkit-scrollbar, .sliderMenu__inner::-webkit-scrollbar-track, .sliderMenu__inner::-webkit-scrollbar-thumb {
  height: 4px;
}
.sliderMenu__inner::-webkit-scrollbar {
  background: #F3F3F3;
}
.sliderMenu__inner::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #0051A4;
}
.sliderMenu__list {
  gap: 10px;
  flex-wrap: nowrap;
}
.sliderMenu__list__item {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background: #FFF;
  white-space: nowrap;
  text-wrap: nowrap;
}
.sliderMenu__list__item a {
  display: block;
  padding: 8px 10px 8px 8px;
}
.sliderMenu__list__item.isActive {
  border-color: #0051A4;
  background: #0051A4;
}
.sliderMenu__list__item.isActive a {
  color: #FFF;
}

.search__inner {
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
.search__status {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
}
.search__status span {
  color: #0099D9;
}
.search__btnList {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.search__btnList button {
  display: inline-block;
  width: 100%;
  max-width: 148px;
  height: 50px;
  padding: 0 13px;
  border: 1px solid #D1D1D1;
  color: #0051A4;
  text-align: left;
}
.search .btnSidebar {
  background: #FFF url(../img/icon_folder.svg) center right 13px no-repeat;
}
.search .btnSort {
  background: #FFF url(../img/icon_arrow_b.svg) center right 13px no-repeat;
}

/* TOP一覧 */
.indexList {
  display: block;
}
.indexList__inner {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.indexList__inner::-webkit-scrollbar, .indexList__inner::-webkit-scrollbar-track, .indexList__inner::-webkit-scrollbar-thumb {
  height: 4px;
}
.indexList__inner::-webkit-scrollbar {
  background: #F3F3F3;
}
.indexList__inner::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0051A4;
}
.indexList .flex {
  gap: 22px;
  padding: 0 21px;
}
.indexList .flex a {
  min-width: 185px;
  max-width: 185px;
}
.indexList__box {
  padding: 10px 10px 22px;
  border: 1px solid #D1D1D1;
  background: #FFF;
}
.indexList__box__title {
  color: #0051A4;
  font-size: 1.6rem;
}
.indexList_box_button {
  min-width: 185px;
  max-width: 185px;
}

.list__inner {
  max-width: 1280px;
  margin: 0 auto;
}
.list__box {
  gap: 16px;
  padding: 11px 20px;
  border: 1px solid #D1D1D1;
  background: #FFF url(../img/icon_folder_open.svg) center right 20px no-repeat;
  font-size: 1.4rem;
}
.list__box__title {
  color: #0051A4;
  font-size: 2.4rem;
  line-height: 3.9rem;
}
.list__box__tag {
  padding-inline: 4px;
  line-height: 2rem;
  background: #0051A4;
  color: #FFF;
}
.list__box__thumb {
  width: 100%;
  max-width: 113px;
  max-height: 78px;
  overflow: hidden;
}
.list__box__thumb img {
  max-width: 100%;
}
.list__box__thumb + .list__box__txtInner {
  position: relative;
  width: 100%;
}
.list__box__thumb + .list__box__txtInner .list__box__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.list a {
  display: block;
}
.list p {
  vertical-align: middle;
}

.pager__inner {
  gap: 10px;
  width: calc(100% - 28px);
  max-width: 428px;
  margin: 0 auto;
}
.pager__btn {
  position: relative;
  width: 100%;
  max-width: 77px;
  height: 46px;
  border-radius: 4px;
  background: #0051A4;
}
.pager__btn img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pager__number {
  width: 100%;
  max-width: 115px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  font-size: 2.4rem;
  line-height: 4.4rem;
  color: #0051A4;
}
.pager__number span {
  font-size: 1.8rem;
}

/* sidebar */
.sidebarBg {
  z-index: 998;
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.sidebarBg.isActive {
  display: block;
}

.sidebar {
  z-index: 999;
  position: fixed;
  top: 100px;
  right: -50%;
  width: 100%;
  height: calc(100vh - 50px - 50px);
  height: calc(100svh - 50px - 50px);
  max-width: 50%;
  background: #FFF;
  transition: 0.2s;
}
.sidebar.isActive {
  right: 0;
}
.sidebar__inner {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 30px 20px;
}
.sidebar__close {
  margin-left: auto;
  width: 100%;
  max-width: 38px;
  cursor: pointer;
}
.sidebar__list__item {
  border-bottom: 1px solid #D1D1D1;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 2.3rem;
}
.sidebar__list__item a {
  display: block;
  padding-bottom: 16px;
}
.sidebar__list__item span {
  padding-left: 9.5px;
  border-left: 2px solid #0051A4;
  color: #0051A4;
}
.sidebar__list--label span {
  padding-left: 30px;
  border-left: none;
  background: url(../img/icon_label.svg) center left no-repeat;
}
.sidebar__inputArea {
  display: none;
  width: 100%;
}
.sidebar__inputArea form .flex {
  gap: 10px;
}
.sidebar__inputArea input[type=text] {
  width: 100%;
  max-width: 251px;
  height: 47px;
  padding: 0 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background: #FFF;
}
.sidebar__inputArea .btnAddLabel {
  appearance: none;
  height: 46px;
  width: 100%;
  max-width: 77px;
  border: none;
  border-radius: 4px;
  background: #0051A4;
  color: #FFF;
  font-size: 1.8rem;
}
.sidebar .btnSidebarLabel {
  width: 100%;
  max-width: 156px;
  padding: 13px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar .btnSidebarLabel img, .sidebar .btnSidebarLabel p {
  display: inline-block;
}
.sidebar .btnSidebarLabel p {
  color: #0051A4;
  font-size: 1.8rem;
}
.sidebar .btnSidebarLabel img {
  vertical-align: text-bottom;
  max-width: 21px;
}

/* 業連詳細 拡大ボタン */
.btnFullScreen, .btnExitFullScreen {
  display: none;
  bottom: 66px;
  right: 16px;
  padding: 0 16px;
  height: 32px;
  border: none;
  background: #0051A4;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
}

.scrollHundleArea {
  z-index: 2;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 70vh;
  height: 70svh;
  background: #6c6c6c;
}
.scrollHundleArea__inner {
  position: relative;
}

.scrollHundle {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0051A4;
}

.modalBg {
  z-index: 1001;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modal {
  display: none;
  z-index: 1002;
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 24px);
  max-width: 1024px;
  height: 80vh;
  height: 80svh;
  transform: translate(-50%, -50%);
  background: #FFF;
}
.modal__inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 30px 0;
}
.modal__title {
  padding: 0 5%;
  font-size: 2.3rem;
}
.modal form {
  height: 100%;
}
.modal__listInner {
  height: 65%;
  max-height: 65%;
  overflow-y: scroll;
}
.modal__listInner::-webkit-scrollbar, .modal__listInner::-webkit-scrollbar-track, .modal__listInner::-webkit-scrollbar-thumb {
  width: 8px;
  position: absolute;
  right: 5%;
}
.modal__listInner::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #D1D1D1;
}
.modal__list__item {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 2.3rem;
}
.modal__list__item label {
  display: block;
  position: relative;
  width: 100%;
  padding: 24px 5% 0;
}
.modal__list__item label.isSelected {
  background: #dbf1ff;
}
.modal__list__item label p {
  padding: 0 0 24px;
  border-bottom: 1px solid #D1D1D1;
  color: #5E5E5E;
}
.modal__list__item input[type=radio] {
  opacity: 0;
  position: absolute;
}
.modal .btnModalSubmit {
  appearance: none;
  width: 100%;
  max-width: 156px;
  margin-left: 5%;
  padding: 13px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  cursor: pointer;
  background: #0051A4;
  color: #FFF;
}

/* 印刷用 */
@media print {
  .header__prev {
    display: none !important;
  }
  .header__menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .spw10 {
    width: 10%;
  }
  .spw20 {
    width: 20%;
  }
  .spw30 {
    width: 30%;
  }
  .spw40 {
    width: 40%;
  }
  .spw50 {
    width: 50%;
  }
  .spw60 {
    width: 60%;
  }
  .spw70 {
    width: 70%;
  }
  .spw80 {
    width: 80%;
  }
  .spw90 {
    width: 90%;
  }
  .spw100 {
    width: 100%;
  }
  .spmr0 {
    margin-right: 0px;
  }
  .spmr2 {
    margin-right: 2px;
  }
  .spmr4 {
    margin-right: 4px;
  }
  .spmr6 {
    margin-right: 6px;
  }
  .spmr8 {
    margin-right: 8px;
  }
  .spmr10 {
    margin-right: 10px;
  }
  .spmr12 {
    margin-right: 12px;
  }
  .spmr14 {
    margin-right: 14px;
  }
  .spmr16 {
    margin-right: 16px;
  }
  .spmr18 {
    margin-right: 18px;
  }
  .spmr20 {
    margin-right: 20px;
  }
  .spmr22 {
    margin-right: 22px;
  }
  .spmr24 {
    margin-right: 24px;
  }
  .spmr26 {
    margin-right: 26px;
  }
  .spmr28 {
    margin-right: 28px;
  }
  .spmr30 {
    margin-right: 30px;
  }
  .spmr32 {
    margin-right: 32px;
  }
  .spmr34 {
    margin-right: 34px;
  }
  .spmr36 {
    margin-right: 36px;
  }
  .spmr38 {
    margin-right: 38px;
  }
  .spmr40 {
    margin-right: 40px;
  }
  .spmr42 {
    margin-right: 42px;
  }
  .spmr44 {
    margin-right: 44px;
  }
  .spmr46 {
    margin-right: 46px;
  }
  .spmr48 {
    margin-right: 48px;
  }
  .spmr50 {
    margin-right: 50px;
  }
  .spmr52 {
    margin-right: 52px;
  }
  .spmr54 {
    margin-right: 54px;
  }
  .spmr56 {
    margin-right: 56px;
  }
  .spmr58 {
    margin-right: 58px;
  }
  .spmr60 {
    margin-right: 60px;
  }
  .spmr62 {
    margin-right: 62px;
  }
  .spmr64 {
    margin-right: 64px;
  }
  .spmr66 {
    margin-right: 66px;
  }
  .spmr68 {
    margin-right: 68px;
  }
  .spmr70 {
    margin-right: 70px;
  }
  .spmr72 {
    margin-right: 72px;
  }
  .spmr74 {
    margin-right: 74px;
  }
  .spmr76 {
    margin-right: 76px;
  }
  .spmr78 {
    margin-right: 78px;
  }
  .spmr80 {
    margin-right: 80px;
  }
  .spmr82 {
    margin-right: 82px;
  }
  .spmr84 {
    margin-right: 84px;
  }
  .spmr86 {
    margin-right: 86px;
  }
  .spmr88 {
    margin-right: 88px;
  }
  .spmr90 {
    margin-right: 90px;
  }
  .spmr92 {
    margin-right: 92px;
  }
  .spmr94 {
    margin-right: 94px;
  }
  .spmr96 {
    margin-right: 96px;
  }
  .spmr98 {
    margin-right: 98px;
  }
  .spmr100 {
    margin-right: 100px;
  }
  .spmb0 {
    margin-bottom: 0px;
  }
  .spmb2 {
    margin-bottom: 2px;
  }
  .spmb4 {
    margin-bottom: 4px;
  }
  .spmb6 {
    margin-bottom: 6px;
  }
  .spmb8 {
    margin-bottom: 8px;
  }
  .spmb10 {
    margin-bottom: 10px;
  }
  .spmb12 {
    margin-bottom: 12px;
  }
  .spmb14 {
    margin-bottom: 14px;
  }
  .spmb16 {
    margin-bottom: 16px;
  }
  .spmb18 {
    margin-bottom: 18px;
  }
  .spmb20 {
    margin-bottom: 20px;
  }
  .spmb22 {
    margin-bottom: 22px;
  }
  .spmb24 {
    margin-bottom: 24px;
  }
  .spmb26 {
    margin-bottom: 26px;
  }
  .spmb28 {
    margin-bottom: 28px;
  }
  .spmb30 {
    margin-bottom: 30px;
  }
  .spmb32 {
    margin-bottom: 32px;
  }
  .spmb34 {
    margin-bottom: 34px;
  }
  .spmb36 {
    margin-bottom: 36px;
  }
  .spmb38 {
    margin-bottom: 38px;
  }
  .spmb40 {
    margin-bottom: 40px;
  }
  .spmb42 {
    margin-bottom: 42px;
  }
  .spmb44 {
    margin-bottom: 44px;
  }
  .spmb46 {
    margin-bottom: 46px;
  }
  .spmb48 {
    margin-bottom: 48px;
  }
  .spmb50 {
    margin-bottom: 50px;
  }
  .spmb52 {
    margin-bottom: 52px;
  }
  .spmb54 {
    margin-bottom: 54px;
  }
  .spmb56 {
    margin-bottom: 56px;
  }
  .spmb58 {
    margin-bottom: 58px;
  }
  .spmb60 {
    margin-bottom: 60px;
  }
  .spmb62 {
    margin-bottom: 62px;
  }
  .spmb64 {
    margin-bottom: 64px;
  }
  .spmb66 {
    margin-bottom: 66px;
  }
  .spmb68 {
    margin-bottom: 68px;
  }
  .spmb70 {
    margin-bottom: 70px;
  }
  .spmb72 {
    margin-bottom: 72px;
  }
  .spmb74 {
    margin-bottom: 74px;
  }
  .spmb76 {
    margin-bottom: 76px;
  }
  .spmb78 {
    margin-bottom: 78px;
  }
  .spmb80 {
    margin-bottom: 80px;
  }
  .spmb82 {
    margin-bottom: 82px;
  }
  .spmb84 {
    margin-bottom: 84px;
  }
  .spmb86 {
    margin-bottom: 86px;
  }
  .spmb88 {
    margin-bottom: 88px;
  }
  .spmb90 {
    margin-bottom: 90px;
  }
  .spmb92 {
    margin-bottom: 92px;
  }
  .spmb94 {
    margin-bottom: 94px;
  }
  .spmb96 {
    margin-bottom: 96px;
  }
  .spmb98 {
    margin-bottom: 98px;
  }
  .spmb100 {
    margin-bottom: 100px;
  }
  .spBlock {
    display: block;
  }
  .header--detail.header .header__titleBox {
    gap: 16px;
    max-width: 100%;
    max-height: 100%;
    overflow-x: scroll;
  }
  .header--detail.header .header__prev {
    min-width: 65px;
    max-width: 65px;
  }
  .header--detail.header .header__prev img {
    max-height: 16px;
  }
  .header--detail.header .header__prev p {
    font-size: 1.4rem;
  }
  .header--detail.header .header__title {
    width: 100%;
    padding-top: 14px;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .header--detail.header .header__title h1 {
    font-size: 1.6rem;
  }
  .header--detail.header .header__menu {
    gap: 14px;
    padding-right: 14px;
  }
  /* 固定しないヘッダー */
  .header--nofix {
    position: relative;
  }
  .header--nofix + .main, .header--nofix + .main.message {
    padding-top: 0;
  }
  .header--nofix + .main .main__inner, .header--nofix + .main.message .main__inner {
    width: 100%;
  }
  .header--nofix + .main .main__fileView iframe, .header--nofix + .main.message .main__fileView iframe {
    min-height: 100vh;
    min-height: 100svh;
  }
  .menu__list__item {
    font-size: 1.4rem;
  }
  .search__inner {
    display: block;
  }
  .search__btnList button {
    max-width: 120px;
  }
  .list__box {
    background-size: 24px;
  }
  .list__box__title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .list__box__thumb + .list__box__txtInner .list__box__title {
    padding-right: 24px;
  }
  .pager__number {
    font-size: 1.8rem;
  }
  .pager__number span {
    font-size: 1.2rem;
  }
  .main__supplement {
    position: relative;
    display: block;
  }
  .main__supplement__detail {
    display: block;
  }
  .main__supplement__btnInner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }
  .main__box {
    padding: 10px 21px 24px;
  }
  .main__box .flex {
    display: block;
  }
  .main__thumb {
    margin: 0 auto 16px;
  }
  .main__thumb + p {
    font-size: 1.6rem;
  }
  .main__box--single {
    /* 全編通し動画（説目部分）のみ */
  }
  .main__box--single .main__thumb {
    width: 60%;
  }
  .manualAttachment {
    width: calc(100% - 24px);
    height: auto;
  }
  .sidebar {
    right: -80%;
    max-width: 80%;
  }
  .sidebar__list__item {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1366px) {
  .btnFullScreen {
    display: block;
  }
  .btnFullScreen, .btnExitFullScreen {
    position: fixed;
  }
}
/* 高さが一定以下 */
@media screen and (max-height: 500px) {
  .modal {
    height: 90vh;
    height: 90svh;
  }
  .modal__listInner {
    height: 50%;
    max-height: 50%;
  }
  .modal__inner {
    padding: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */